@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@100;400&display=swap');

*{
    box-sizing: border-box;
}

.lato-text {
    font-family: 'Lato', sans-serif;
}

.oswald-text {
    font-family: 'Oswald', sans-serif;
}

body{
    background-image: url('bg.jpg');
}

.container-shadow{
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.container {
    width: 1170px;
    margin: auto;
}


