@keyframes staggeredFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.subchild-menu {
    display: none;
}

.child-group:hover .subchild-menu {
    display: block;
}

/* Add animation to sub-menu items */
.sub-menu {
    display: none; /* Hide the sub-menu by default */
}

.group:hover .sub-menu {
    display: block; /* Show the sub-menu on hover */
}

/* Apply staggered animation to each item */
.sub-menu li {
    opacity: 0; /* Start with hidden opacity */
    animation: staggeredFadeIn 1s ease-in-out forwards; /* Increase duration to 1s */
}

.sub-menu li:nth-child(1) {
    animation-delay: 0s;
}

.sub-menu li:nth-child(2) {
    animation-delay: 0.2s;
}

.sub-menu li:nth-child(3) {
    animation-delay: 0.4s;
}

.sub-menu li:nth-child(4) {
    animation-delay: 0.6s;
}

.sub-menu li:nth-child(5) {
    animation-delay: 0.8s;
}

.sub-menu li:nth-child(6) {
    animation-delay: 1s;
}

/* Add these styles to your CSS file */
.arrow-icon {
    height: 18px;
    width: 18px;
    margin-top: 3px;
    margin-left: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Initial down arrow */
.arrow-icon {
    content: url('../assets/down-arrow.svg'); /* Use the imported path */
}

/* On hover, change to up arrow and rotate */
.group:hover .arrow-icon {
    content: url('../assets/down-arrow-white.svg'); /* Use the imported path */
    transform: rotate(180deg);
}

/* Header.css */
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.sidebar-enter {
    animation: slideIn 0.5s ease-in-out forwards;
}

.sidebar-exit {
    animation: slideOut 0.5s ease-in-out forwards;
}


/* Header.css */

/* Base styles for the hamburger lines */
.hamburger-line {
    transition: transform 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
    background-color: white;
    width: 27px;
    height: 3px;
    margin: 5px 0;
}

/* Animation when sidebar is open */
.hamburger-open .line1 {
    transform: rotate(45deg) translate(5px, 6px);
}

.hamburger-open .line2 {
    opacity: 0;
}

.hamburger-open .line3 {
    transform: rotate(-45deg) translate(5px, -6px);
}
